.service-card {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  max-width: var(--container-max-width);
  border-radius: var(--card-border-radius);
  padding: 2rem 4rem;
  column-gap: 2rem;
  row-gap: 1rem;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 2rem;
    gap: 2rem;
  }

  &.selected {
    border-color: var(--accent-font-light);

    @media (prefers-color-scheme: dark) {
      border-color: var(--accent-font-dark);
    }
  }
}

.service-title {
  font-size: var(--font-size-l);
}

.service-price {
  font-size: var(--font-size-l);
  font-weight: bold;
  color: var(--accent-font-light);

  @media (prefers-color-scheme: dark) {
    color: var(--accent-font-dark);
  }
}

.service-checkbox {
  display: flex;
  align-items: center;
  font-size: var(--font-size-m);
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;

  accent-color: var(--accent-font-light);

  @media (prefers-color-scheme: dark) {
    accent-color: var(--accent-font-dark);
  }
}

.secondary-services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  grid-column: span 3;
}
