#budget-list-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  border-top: 1px dashed var(--details-light);
  padding-top: 2rem;

  h2 {
    margin-bottom: 1rem;
  }
}
