.budget-info-card {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  margin: auto;
  width: 100%;
  gap: 4rem;
  box-sizing: border-box;
  border-radius: var(--card-border-radius);
}

.total-amount {
  font-weight: bold;
  font-size: var(--font-size-l);
}
