#services-calculator {
  display: flex;
  justify-content: center;
  max-width: var(--container-max-width);
  margin: auto;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1.2rem;
}

#total-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: var(--font-size-l);
  font-weight: bold;
  color: var(--accent-font-light);

  p {
    margin: 0;
  }

  @media (prefers-color-scheme: dark) {
    color: var(--accent-font-dark);
  }
}
