#services-calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

#total-price {
  font-size: var(--font-size-l);
  color: var(--accent-font-dark);
}
