.form-card {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  border-radius: var(--card-border-radius);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}

input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-family: inherit;
  border: 1px solid var(--details-light);
  max-width: 100%;

  @media (prefers-color-scheme: dark) {
    border-color: var(--details-dark);
  }
}

.error-status {
  border-color: var(--error-color);
}

.error-message {
  color: var(--error-color);
  font-size: var(--font-size-m);
  margin: 0;
}
