<section class="card form-card">
  <h2>Ask for a budget</h2>
  <form (ngSubmit)="onSubmit()">
    <input
      type="text"
      id="form_name"
      name="name"
      placeholder="Name"
      [(ngModel)]="formData.name"
    />
    <input
      type="email"
      id="form_email"
      name="email"
      placeholder="Email"
      [(ngModel)]="formData.email"
    />
    <input
      type="text"
      id="form_phone"
      name="phone"
      placeholder="Phone"
      [(ngModel)]="formData.phone"
    />
    <button type="submit">Submit</button>
  </form>
</section>
