:root {
  --accent-font-light: #005f25;
  --details-light: #2e4a66;
  --background-light: #fff;
  --theme-1-light: #e2e2e2;

  --primary-font-dark: #fff;
  --accent-font-dark: #4cd625;
  --details-dark: #2e4a66;
  --background-dark: #001633;
  --theme-1-dark: #000e22;

  --font-size-m: 1rem;
  --font-size-l: 1.5rem;

  --card-border-radius: 1rem;

  --container-max-width: 600px;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-VariableFont_wght.ttf");
}

body {
  margin: 0;
  font-family: "Raleway";
  background-color: var(--background-light);
  max-width: 800px;
  margin: auto;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--accent-font-light);
    margin: 0;
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--background-dark);
    color: var(--primary-font-dark);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--accent-font-dark);
    }
  }
}

button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-family: inherit;
  font-weight: 600;
  border: 1px solid var(--accent-font-light);

  background-color: var(--accent-font-light);
  color: var(--background-light);

  @media (prefers-color-scheme: dark) {
    background-color: var(--accent-font-dark);
    color: var(--background-dark);
    border-color: var(--accent-font-dark);
  }

  &:hover {
    cursor: pointer;
  }
}

.card {
  border-radius: var(--card-border-radius);
  padding: 2rem;
  background-color: var(--theme-1-light);
  border: 1px solid var(--details-light);

  @media (prefers-color-scheme: dark) {
    background-color: var(--theme-1-dark);
    border-color: var(--details-dark);
  }
}
